<!-- nav.ejs -->

<nav>
  <div id="left-nav">
    <a href="/" id="home">
      <img class="logo" src="../images/logo.png" alt="profile image" />
    </a>
    <span class="website-name">programmer.com</span>
  </div>
  <div id="right-nav">
    <div class="box">
      <input type="checkbox" id="check" />
      <div class="search-box">
        <form action="/listings" method="GET" class="search-form">
          <label for="search"></label>
          <input
            type="text"
            id="search"
            name="search-term"
            required
            placeholder="Search..."
          />
          <label for="check" class="icon">
            <i class="fas fa-search"></i>
          </label>
        </form>
      </div>
    </div>

    <% if (user) { %> <% if (is_seller) { %>
    <a href="/create-listing" id="create-listing">Create Listing</a>
    <a href="/listings" id="listings">Listings</a>
    <a href="/favorites" id="favorites">Favorites</a>
    <form id="logout-form" action="/logout" method="post">
      <input type="submit" value="Logout" />
    </form>
    <a href="/account" id="account">Account</a>
    <% } else { %>
    <a href="/listings" id="listings">Listings</a>
    <a href="/favorites" id="favorites">Favorites</a>
    <form id="logout-form" action="/logout" method="post">
      <input type="submit" value="Logout" />
    </form>
    <a href="/account" id="account">Account</a>
    <% } %> <% } else { %>
    <a href="/login" id="login">Login</a>
    <a href="/login" id="join">Join</a>
    <% } %>
  </div>
</nav>
