<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Listings page</title>
    
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/listings.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Young+Serif&display=swap" rel="stylesheet">
  
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/21c6db8c84.js" crossorigin="anonymous"></script>
</head>
<body>

  <nav>
    <div id="left-nav">
      <img class="logo" src="./images/logo.png" alt="profile image">
      <span class="website-name">programmer.com</span>
    </div>
    <div id="right-nav">
      <div id="search"><span>Search  </span><!--Get request here for search bar--><i class="fa-solid fa-magnifying-glass"></i></div>
      <div id="create-listing">Create Listing</div>
      <div id="listings">Listings</div>
      <div id="favorites">Favorites</div>
      <div id="login">Login</div>
      <div id="join">Join</div>
      <div id="account">Account</div>
    </div>
  </nav>

  <header>
    <img src="./images/listings.png" alt="image of woman on computer">
    <h1>Looking for a Programmer? <br> 
        Connect with independant Talent <br>
        Today!    
    </h1>
  </header>

    <main>
        <section id="search-listings">
            <h2 id="searchbar-title">Search</h2>
            <form action="" method="">
              <label for="search-listings">Search:</label>
              <input type="search" id="searchbar-listings" name="searchbar-listings" placeholder="Search service listings here...">
            </form>

        </section>

        <section id="listings-results">
            <h2>listings results section</h2>
            <p>search results for listings will render here</p>
        </section>
    </main>
    <aside>
        <h2>Sidebar</h2>
        <p>This is the sidebar content.</p>
    </aside>
    <footer>
      <img class="logo" src="./images/logo.png" alt="profile image">
    </footer>
</body>
</html>






