<!doctype html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/login.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600&family=Young+Serif&display=swap"
      rel="stylesheet"
    />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/21c6db8c84.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('partials/nav') %>

    <header>
      <h1>Find your mentor online.</h1>
    </header>

    <div class="forms-container">
      <div class="forms-box">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn" onclick="login()">
            Log In
          </button>
          <button type="button" class="toggle-btn" onclick="register()">
            Register
          </button>
        </div>
        <div class="social-icons">
          <i class="fa-brands fa-square-twitter" style="color: #25511f"></i>
          <i class="fa-brands fa-square-facebook" style="color: #25511f"></i>
          <i class="fa-brands fa-square-instagram" style="color: #25511f"></i>
        </div>
        <form action="/login" method="POST" id="login-form" class="input-group">
          <input
            type="text"
            class="input-field"
            placeholder="Username"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Enter Password"
            required
          />
          <input type="checkbox" class="check-box" /><span id="rmb-me"
            >Remember Password</span
          >
          <button type="submit" class="submit-btn">Login</button>
        </form>
        <form
          action="/register"
          method="POST"
          id="register-form"
          class="input-group"
        >
          <input
            type="text"
            class="input-field"
            placeholder="Username"
            required
          />
          <input
            type="email"
            class="input-field"
            placeholder="Email"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Enter Password"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Enter your city"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Enter your province/state"
            required
          />
          <input
            type="checkbox"
            class="toggle-buyer-seller"
            id="buyer-seller"
          /><span id="buyer-seller">I am a seller</span>
          <input type="checkbox" class="check-box" /><span
            id="terms-and-conditions"
            >I agree to the terms & conditions</span
          >
          <button type="submit" class="submit-btn">Register</button>
        </form>
      </div>
    </div>
    <%- include('partials/footer') %>

    <script>
      var loginForm = document.getElementById("login-form");
      var registerForm = document.getElementById("register-form");
      var toggleBtn = document.getElementById("btn");
      var currentForm = "login";

      function register() {
        if (currentForm === "login") {
          loginForm.style.left = "-400px";
          registerForm.style.left = "50px";
          toggleBtn.style.left = "110px";
          currentForm = "register";
        } else {
          return currentForm;
        }
      }
      function login() {
        if (currentForm === "register") {
          loginForm.style.left = "50px";
          registerForm.style.left = "450px";
          toggleBtn.style.left = "0px";
          currentForm = "login";
        } else {
          return currentForm;
        }
      }
    </script>
  </body>
</html>
