// Header section

#account-header {
  justify-content: center;
  align-items: center;
  background-color: white;
  border-left: 250px solid #8FBC8F;
  border-right: 250px solid #8FBC8F;
  border-top: 70px solid #8FBC8F;
  border-bottom: 70px solid #8FBC8F;
}

#header-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#header-user > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6836b;
  width: 80%;
  padding: 4% 8%;
  border-radius: 10px;
}

#header-user > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #398378;
  border-radius: 10px;
  padding: 2%;
  width: 40%;
  margin-top: 1%;
}

#header-user > h2 > i {
  margin-left: 5%;
}

#account-header > img {
  margin: 0%;
  width: 20%;
}

// Bio section

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: #183153 4px solid;
  background-color: #183153;
  color: white;
  padding: 1%;
  margin: 1%;
  width: 70%;
}

.profile > img {
  width: 40%;
}

.right-bio {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.right-bio > h2 {
  font-family: 'Young Serif', serif;
  font-size: 2rem;
  margin: 0%;
}

.right-bio > p {
  background-color: white;
  padding: 3%;
  color: black;
  font-weight: 500;
}

.right-bio > ul {
  list-style: none;
  font-weight: 500;
  background-color: white;
  color: black;
  padding: 3%;
}

.right-bio > form > button {
  border-radius: 8px;
  background-color: #398378;
  border-color: #398378;
  color: white;
  font-size: larger;
  font-weight: 500;
  padding: 3%;
  margin-top: 2%;
}

// Transactions section

.transaction-log {
  margin: 1%;
  width: 70%;
  background-color: #183153;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transaction-log > h2 {
  color: white;
  font-size: 2rem;
  border: #398378 4px solid;
  padding: 3% 5%;
}

// New transaction modal styling

.transaction-log > button {
  border-radius: 8px;
  background-color: #398378;
  border-color: #398378;
  color: white;
  font-size: larger;
  font-weight: 500;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.transaction-log > table {
  background-color: white;
  padding: 2%;
  margin-bottom: 4%;
  width: 90%;
}

.transaction-log > table > tbody > tr {
  margin-top: 4%;
  text-align: center;
}

.transaction-log > table > tbody > th {
  text-align: center;
}

.new-transaction-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.transaction-modal-content {
  background-color:#398378;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  color: #fff; /* Text color for modal content */
}

.closeModal {
  align-self: flex-end;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: #D11A2A;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* Text color for close button */
}

.transaction-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.transaction-modal-form label {
  font-weight: bold;
  margin-top: 1rem;
}

.transaction-modal-form input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.transaction-modal-form button {
  background-color: #3498db;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

/* Hover effect for the submit button */
.transaction-modal-form button:hover {
  background-color: #2575b7; /* Update hover color */
}


// New Review Modal styling

#review-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
}

.review-modal-content {
  background-color:#398378;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 80%;
  color: #fff; /* Text color for modal content */
}

.close-review-modal {
  align-self: flex-end;
  padding: 0.2rem;
  margin: 0.2rem;
  background-color: #D11A2A;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  color: #fff; /* Text color for close button */
}

.review-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.review-modal-form label {
  font-weight: bold;
  margin-top: 1rem;
}

.review-modal-form input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  accent-color: #f6836b;
}

.review-modal-form button {
  background-color: #3498db;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

/* Hover effect for the submit button */
.review-modal-form button:hover {
  background-color: #2575b7; /* Update hover color */
}



// Reviews

#reviews {
  margin: 1%;
  width: 70%;
  background-color: #183153;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#reviews > h2 {
  color: white;
  font-size: 2rem;
  border: #398378 4px solid;
  padding: 3% 13%;
}

#reviews > article {
  width: 90%;
  background-color: white;
  border: #183153 4px solid;
  margin-bottom: 3%;
}

#reviews > article > h3 {
  background-color: #398378;
  color: white;
  padding: 1%;
  margin-top: 0%;
}

#reviews > article > p {
  margin-left: 1%;
}

// Listings

#sellers-listings {
  margin: 1%;
  width: 70%;
  background-color: #183153;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sellers-listings > h2 {
  color: white;
  font-size: 2rem;
  border: #398378 4px solid;
  padding: 3% 10%;
}

ul {
  width: 100%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0%;
}

ul > .listing-tile {
  width: 90%;
  border: #183153 4px solid;
  background-color: white;
  padding: 0% !important;
}

.listing-tile > img {
  display: none;
}

.listing-tile > h2 {
  background-color: #398378;
  color: white;
  padding: 1%;
  margin-top: 0%;
  width: 100%;
  display:flex;
  justify-content:left;
}

.delete-listing-button {
  margin-left: auto;
  border: none;
}

.fa-x-button:hover {
  cursor: pointer;
}

.listing-tile > p {
  margin-left: 1%;
}

// Sold button
.form-sold {
  align-self: center;
  width: 90%;
  margin-left: 37%;
}

.form-sold > .active-button {
  margin-bottom: 3%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24%;
  background-color: #f6836b;
  border-color: #f6836b;
  color: white;
  border-radius: 25px;
}

.active-button > i {
  margin-left: 5%;
}

.sold {
  display: none;
}

.listing-tile > .active-button {
  margin-bottom: 3%;
  margin-left: 36%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 23%;
  background-color: #f6836b;
  border-color: #f6836b;
  color: white;
  border-radius: 25px;
  padding: 2%;
}

.listing-tile > .active-button > p {
  margin: 2%;
}
