#create-listing-form-container {
  background-color: #398378;
  padding: 2rem;
  margin-bottom: 2rem;
  color: white;
  border-radius: 1rem;
  text-decoration: none;
}

#create-listing-form-container > h2 {
  text-align: center;
}

#create-listing-form-container > input {
  border: none;
}

#create-listing-button {
  margin-top: 1.2rem;
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
  color: white;
  font-size: 1rem;
  background-color: #8FBC8F;
}