// Header

#listings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

#listings-header > h1 {
  width: 50%;
  font-size: 3.5rem;
  margin: 0%;
}

#listings-header > img {
  margin: 0% 2%;
}

// Main

#listings-main {
  margin-top: 3%;
}

// Advanced Search

#search-listings {
  background-color: #398378;
  border-radius: 10px;
  padding: 2%;
}

#searchbar-title {
  text-align: center;
  font-family: "Young Serif", serif;
  font-size: 3rem;
  color: white;
  margin: 1%;
}

#search-term {
  width: 40vw;
  margin-bottom: 1.5rem;
}

.description-field, .seller-name-field {
  text-align: center;
  display:flex;
  flex-direction: column;
}

.price-range-slider {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.seller-name-field {
  margin: 3% 0%;
}

.price-range-slider > p {
  margin-bottom: 0;
}

#price-slider-max[type="range"], #price-slider-min {
  width: 100%;
  accent-color: #f6836b;
}

// Listing Results

#listings-search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  background-color: #8fbc8f;
  margin: 2.2rem 0;
  padding: 1rem 1.3rem;
}

#listings-search-results > h2 {
  color: white;
  margin: 3%;
  font-size: 3rem;
  font-family: "Young Serif", serif;
}

.listing-tile {
  border:#398378 10px solid;
  padding: 2%;
  width: 90%;
  background-color: white;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}

.listing-tile > img {
  width: 25%;
  align-self: center;
}

.details {
  width: 70%;
  align-self: center;
}

// Favorites button

.button-form {
  align-self: center;
  width: 90%;
  margin-left: 67%;
}

.button-form > .favorite-button {
  margin-top: 2%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 25%;
  align-self: center;
  background-color: #183153;
  color: white;
  border-radius: 25px;
}

.favorite-button > i {
  margin-left: 8%;
  color: white;
}

/* Change cursor to pointer on hover for user feedback */
.favorite-button:hover {
  cursor: pointer;
}

.text {
  margin-left: 5px;
  font-weight: bold;
}

.added {
  display: none;
}
