// Header

#listings-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

#listings-header > h1 {
  width: 50%;
  font-size: 3.5rem;
  margin: 0%;
}

#listings-header > img {
  margin: 0% 2%;
}

// Main

#listings-main {
  margin-top: 3%;
}

// Advanced Search

#search-listings {
  background-color: #398378;
  border-radius: 10px;
  padding: 2%;
}

#searchbar-title {
  text-align: center;
  font-family: "Young Serif", serif;
  font-weight:900;
  font-size: 3rem;
  color: #8fbc8f;
  margin: 1%;
  -webkit-text-stroke: 1px #183153;
}

#search-term {
  width: 40vw;
  margin-bottom: 1.5rem;
}

.price-range-slider {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.price-range-slider > p {
  margin-bottom: 0;
}

#price-slider[type="range"] {
  width: 100%;
  accent-color: #f6836b;
}

// Listing Results

#listings-search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  background-color: #8fbc8f;
  margin: 2.2rem 0;
  padding: 1rem 1.3rem;
}

#listings-search-results > h2 {
  color:#398378;
  margin: 3%;
  -webkit-text-stroke: 1px #183153;
  font-family: "Young Serif", serif;
  font-size: 3rem;
}

.listing-tile {
  border:#398378 10px solid;
  padding: 2%;
  width: 90%;
  border-radius: 2rem;
  background-color: white;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}

.listing-tile > img {
  width: 25%;
  align-self: center;
  border: #398378 solid 5px;
}

// Favorites button

.favorite-button {
  margin-top: 2%;
  cursor: pointer;
}

/* Change cursor to pointer on hover for user feedback */
.favorite-button:hover {
  cursor: pointer;
}

.text {
  margin-left: 5px;
  font-weight: bold;
}

// logic
