* {
  margin: 0;
  padding: 0;
}

.forms-container {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  //new part, just for funsies
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(230, 236, 230) 0%,
    rgb(176, 212, 198) 100%
  );
}

.forms-box {
  width: 450px;
  height: 500px;
  position: relative;
  margin: 6% auto;
  // background: #398378;
  background: white;
  padding: 5px;
  overflow: hidden;
  border: 1px solid #398378;
  box-shadow: 0 0 10px 5px #194b44;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #13974f1f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 15px 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to-right, #8fbc8f, #8fbc8f);
  border-radius: 30px;
  transition: 0.5s;
  background-color: #398378;
}

.social-icons {
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
}

.fa-brands {
  margin: 0px;
  box-shadow: 0 0 20px 0 #8fbc8f;
  cursor: pointer;
  size: 50px;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
  margin-top: 0;
}

.input-field {
  width: 100%;
  padding: 7px 0;
  margin: 3px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  //   display: flex;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to-right, #8fbc8f, #8fbc8f);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box {
  margin: 0px 0px 0px 0;
}

#seller {
  font-size: 15px;
}

#terms-and-conditions {
  font-size: 15px;
  margin-left: 5px;
}

span #rmb-me {
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#login-form {
  left: 70px;
}

#register-form {
  left: 450px;
}

// new background, for fun

.new-box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255, 255, 255, 0.8);
}

.new-box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}

.new-box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}

.new-box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}

.new-box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}

.new-box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}

.new-box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}

.new-box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}

.new-box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}

.new-box div:nth-child(9) {
  top: 90%;
  left: 25%;
  animation: animate 9s linear infinite;
}

.new-box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
